@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fascinate&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
 
 
}
body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #FCFCFF;
}


.app{
  width: 100%;
  height: 100%;

}

.container{

  width: 100%;
  max-width: 1200px;
  padding: 20px;
  

}

header{
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content  div{
  cursor: pointer;
}
.content .nav{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #666;
}
.content .nav .active3{
  color: #202142;
  background-color: #F1F1FD;
  padding: 5px 20px;
  border-radius: 20px;
}
.auth{
  display: flex;
  gap: 4px;
}

.auth div{
  padding: 5px 20px;

}


.auth div:last-child{

  color: #fff;
  border-radius: 8px;
  background-color: #202142;

}

.hero{
  width: 100%;
  height: 427px;
  position: relative;
  display: flex;
  justify-content: center;
}

.day{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 105px;
  /* padding: 0 10px; */
  height: 40px;
  border-radius: 10px;
  color: #FF6A95;
  font-weight: 600;
  top: 0;
  left: 0;
}
.hero-body{
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.hero-text{
  display: flex;
  width: 100%;
  max-width: 580px;
  text-align: center;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
   color: #202142;
}

.hero-text h1{
  font-size: 22px;
 
  font-weight: 700;
}



.hero-text p{
  font-weight: 400;
}

.serchinput-body{
  width: 100%;
  max-width: 651px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;


}


.inputs{
  display: flex;
  align-items: center;

  justify-content: space-between;
  height: 74px;
  border: 2px solid #F6F6F6 ;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);
  width: 100%;
  padding: 0 20px;
  /* justify-content: center; */
}

.select-input{
  display: flex;
  border-right: 1px solid #eee;
  align-items: center;
  gap: 10px;
}

.serch-input{
  position: relative;
  width: 100%;
  height: 100%;
}

.select-input select{
    border: none;
    font-size: 16px;
        background-color: transparent;
    color:#202142;
    padding-right:10px ;
   margin-right: 20PX;
    outline: none;
}
.serch-input input{

  width: 100%;
  padding-left: 45px;
  border: none;
  outline: none;
  font-size: 16px;
  height: 100%;
}
.search-icon{
  position: absolute;
  top: calc(50% - 14px);
  left: 10px;
  color: #797a8d;
  font-size: 28px;
}

.content-body{

  width: 100%;

  background-color: #fff;

}


.header2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content{
  width: 100%;
  display: flex;
  
}

.buttons{
  display: flex; 
 width: 240px;
 align-items: center;
 justify-content: space-between;
 padding: 0  10px;
 border: 2px solid #f1f1f1;
  height: 65px;
  border-radius: 90px;
  background-color: #fcfcfc;
  gap:15px;
}

.buttons .active1{
  background-color: #fff;
  box-shadow: 0  5px 8px #66666623;
  padding: 10px 30px;
  border-radius: 30PX;
}
.buttons div{
  width: 180px;
  cursor: pointer;
  text-align: center;
}

.nav2{
  display: flex;
  align-items: center;
  gap: 15px;
  color: #666;
}
.nav2 div{
  cursor: pointer;
  padding: 0 20px;
}

.nav2 div p{
  display: block;
}
.nav2 .active{
  display: flex;
  justify-content: center;
  align-items: center;
   color: #202142;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  height: 50px;
  /* width: 60px; */
  border-radius: 50px;  
  

}

.logos{
  display: flex;
  align-items: center;
  gap: 20px;
}
.logos img{
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.logos div{
  width: 51px;
  background-color: #fcfcfc;
  border: 1px solid #eee;
  height: 51px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos  .active2{
   border: 1px solid #ff6a95;
}
.content-body{
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  display: flex;
}

.cards-content{
  width: 100%;
  display: flex;
  gap:30px;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-img{
  width: 100%;


}

.card-img img{
  width: 100%;
}

.card-footer{
  display: flex;
  align-items: center;
  
  justify-content: space-between;
}

.avatar{
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar img{
  width: 38px;
  height: 38px;
  border-radius: 100px;
}

.card-footer-icons{
  display: flex;
  gap: 20px;
  color: #202142;
}

.card-footer-icons span{
  color: black;
}

.code-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.hands-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-name span{

  color: black;
  font-weight: 800;

}

.burger-menu{
  display: none;
}
@media (max-width:900px){

.content  .nav{
    display: none;
  }


  .auth{
    display: none;
  }

  .burger-menu{
    display: block  ;
  }

.header2  .content  {
flex-direction: column;
gap: 20px;

}


.header2  .content .nav2 {
  flex-wrap: wrap;
  justify-content: center;
}

.logos{
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
    border-bottom:  1px solid #eee;
}

.cards-content{
  flex-direction: column;
}



.select-input select{
    border: none;


    font-size: 16px;
    padding-right:0px ;
  
}

.search-icon{
  position: absolute;
  top: calc(50% - 9px);
  left: 10px;
  color: #797a8d;
  font-size: 18px;
}

}